# Power Dissipation Index (PDI) Calculation

In [25]:
import pandas as pd
import numpy as np

In [33]:
atlantic = pd.read_csv('Datasets/atlantic_new.csv')
viz_cols = ['ID', 'Name', 'Date', 'Time', 'Latitude',
       'Longitude', 'Maximum Wind', 'month',
       'year']
atlantic[(atlantic.year==2005) & (atlantic['Maximum Wind']>35)&(atlantic.Name=='ARLENE')][viz_cols]

,ID,Name,Date,Time,Latitude,Longitude,Maximum Wind,month,year
43721,AL012005,ARLENE,2005-06-10,0,20.4,-84.2,40,6,2005
43722,AL012005,ARLENE,2005-06-10,600,21.2,-84.4,45,6,2005
43723,AL012005,ARLENE,2005-06-10,800,21.8,-84.5,45,6,2005
43724,AL012005,ARLENE,2005-06-10,1200,23.0,-84.7,50,6,2005
43725,AL012005,ARLENE,2005-06-10,1800,24.9,-85.1,55,6,2005
43726,AL012005,ARLENE,2005-06-11,0,26.5,-85.6,60,6,2005
43727,AL012005,ARLENE,2005-06-11,100,26.5,-85.6,60,6,2005
43728,AL012005,ARLENE,2005-06-11,600,27.7,-86.8,60,6,2005
43729,AL012005,ARLENE,2005-06-11,1200,28.9,-87.2,55,6,2005
43730,AL012005,ARLENE,2005-06-11,1800,30.1,-87.5,50,6,2005
43731,AL012005,ARLENE,2005-06-11,1900,30.3,-87.5,50,6,2005

In [32]:
atlantic.Name

0                    UNNAMED
1                    UNNAMED
2                    UNNAMED
3                    UNNAMED
4                    UNNAMED
                ...
49100                   KATE
49101                   KATE
49102                   KATE
49103                   KATE
49104                   KATE
Name: Name, Length: 49105, dtype: object