# Getting netCDF4 Data

Because of Github's file size limit, we couldn't upload this part of tha data; So, the bellow cell download it direcly from our font.

In [2]:
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/sst.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/rhum.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/slp.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/vwnd.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/wspd.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/cldc.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/air.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/uwnd.mean.nc
# !wget ftp://ftp.cdc.noaa.gov/Datasets/icoads/2degree/enh/sflx.mean.nc

# Cleaning Hurricane Datasets

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('atlantic.csv')
df2 = pd.read_csv('pacific.csv')

df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [6]:
# Formatting latitude and longitude to floats
df.Date = pd.to_datetime(df.Date, format="%Y%m%d")
df["month"] = df["Date"].apply(lambda x: x.month)
df["year"] = df["Date"].apply(lambda x: x.year)
df.Latitude = df.Latitude.apply(lambda x: -float(x.rstrip("S")) if x.endswith("S") else float(x.rstrip("N")))
df.Longitude = df.Longitude.apply(lambda x: -float(x.rstrip("W")) if x.endswith("W") else float(x.rstrip("E")))

df2.Date = pd.to_datetime(df2.Date, format="%Y%m%d")
df2["month"] = df2["Date"].apply(lambda x: x.month)
df2["year"] = df2["Date"].apply(lambda x: x.year)
df2.Latitude = df2.Latitude.apply(lambda x: -float(x.rstrip("S")) if x.endswith("S") else float(x.rstrip("N")))
df2.Longitude = df2.Longitude.apply(lambda x: -float(x.rstrip("W")) if x.endswith("W") else float(x.rstrip("E")))

In [14]:
df.dtypes

ID                          object
Name                        object
Date                datetime64[ns]
Time                         int64
Event                       object
Status                      object
Latitude                   float64
Longitude                  float64
Maximum Wind                 int64
Minimum Pressure             int64
Low Wind NE                  int64
Low Wind SE                  int64
Low Wind SW                  int64
Low Wind NW                  int64
Moderate Wind NE             int64
Moderate Wind SE             int64
Moderate Wind SW             int64
Moderate Wind NW             int64
High Wind NE                 int64
High Wind SE                 int64
High Wind SW                 int64
High Wind NW                 int64
month                        int64
year                         int64
dtype: object

In [8]:
df[['Latitude','Longitude']].describe()

           Latitude     Longitude
count  49105.000000  49105.000000
mean      27.044904    -65.682533
std       10.077880     19.687240
min        7.200000   -359.100000
25%       19.100000    -81.000000
50%       26.400000    -68.000000
75%       33.100000    -52.500000
max       81.000000     63.000000

In [12]:
#Text entries are spaced
np.unique(df.Name)[0:5],np.unique(df.Event),np.unique(df.Status)

(array(['                AMY', '                ANA',
        '                BOB', '                DOG',
        '                DON'], dtype=object),
 array(['  ', ' C', ' G', ' I', ' L', ' P', ' R', ' S', ' T', ' W'],
       dtype=object),
 array([' DB', ' EX', ' HU', ' LO', ' SD', ' SS', ' TD', ' TS', ' WV'],
       dtype=object))

In [13]:
#Formatting text entries

df['Name'] = df['Name'].apply(lambda x: x.strip())
df['Event'] = df['Event'].apply(lambda x: x.strip())
df['Status'] = df['Status'].apply(lambda x: x.strip())

df2['Name'] = df2['Name'].apply(lambda x: x.strip())
df2['Event'] = df2['Event'].apply(lambda x: x.strip())
df2['Status'] = df2['Status'].apply(lambda x: x.strip())

np.unique(df.Name)[0:5],np.unique(df.Event),np.unique(df.Status)

(array(['ABBY', 'ABLE', 'AGNES', 'ALBERTO', 'ALEX'], dtype=object),
 array(['', 'C', 'G', 'I', 'L', 'P', 'R', 'S', 'T', 'W'], dtype=object),
 array(['DB', 'EX', 'HU', 'LO', 'SD', 'SS', 'TD', 'TS', 'WV'], dtype=object))

In [ ]:
# Saving formatted dataframes

df.to_csv("atlantic_new.csv",index=False)
df2.to_csv("pacific_new.csv",index=False)

In [31]:
atlantic = pd.read_csv('atlantic_new.csv')
atlantic.columns

Index(['ID', 'Name', 'Date', 'Time', 'Event', 'Status', 'Latitude',
       'Longitude', 'Maximum Wind', 'Minimum Pressure', 'Low Wind NE',
       'Low Wind SE', 'Low Wind SW', 'Low Wind NW', 'Moderate Wind NE',
       'Moderate Wind SE', 'Moderate Wind SW', 'Moderate Wind NW',
       'High Wind NE', 'High Wind SE', 'High Wind SW', 'High Wind NW', 'month',
       'year'],
      dtype='object')

In [51]:
pd.DataFrame(zip(atlantic.columns,
                 [np.sum(atlantic[x] == -999)/len(atlantic) for x in atlantic.columns])
             ,columns = ['Variable','Missing Ratio'])

            Variable  Missing Ratio
0                 ID       0.000000
1               Name       0.000000
2               Date       0.000000
3               Time       0.000000
4              Event       0.000000
5             Status       0.000000
6           Latitude       0.000000
7          Longitude       0.000000
8       Maximum Wind       0.000000
9   Minimum Pressure       0.624560
10       Low Wind NE       0.879422
11       Low Wind SE       0.879422
12       Low Wind SW       0.879422
13       Low Wind NW       0.879422
14  Moderate Wind NE       0.879422
15  Moderate Wind SE       0.879422
16  Moderate Wind SW       0.879422
17  Moderate Wind NW       0.879422
18      High Wind NE       0.879422
19      High Wind SE       0.879422
20      High Wind SW       0.879422
21      High Wind NW       0.879422
22             month       0.000000
23              year       0.000000

In [50]:
# df = df.drop(['Low Wind NE',
#        'Low Wind SE', 'Low Wind SW', 'Low Wind NW', 'Moderate Wind NE',
#        'Moderate Wind SE', 'Moderate Wind SW', 'Moderate Wind NW',
#        'High Wind NE', 'High Wind SE', 'High Wind SW', 'High Wind NW'],axis = 1)